<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">City</th>
          <th scope="col">Postcode</th>
          <th scope="col">Plans</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="gymAnchorTag" colspan="5" class="text-center text-secondary bg-light">&plus;</td>
        </tr>
        <% for(let gym of allGyms) { %>
        <tr>
          <td scope="col"><%= gym.name %></td>
          <td scope="col"><%= gym.city %></td>
          <td scope="col"><%= gym.postcode %></td>
          <td scope="col"><a href="/dashboard/gyms/<%= gym._id %>/plans"><%= gym.plans.length %></a></td>
          <td scope="col">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span>&plus;</span></button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a href="/dashboard/gyms/<%= gym._id %>/edit" class="dropdown-item text-white">Edit</a></li>
                <li>
                  <form action="/dashboard/<%= gym._id %>?_method=DELETE" method="POST">
                    <button class="dropdown-item text-danger">Delete</button>
                  </form>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/dashboard" class="btn btn-secondary">Return</a>
  </div>
</div>
<script src="/scripts/tableAnchorTags.js"></script>
