<%- layout('layouts/boilerplate.ejs') %>
<div class="row">
  <% for(let gym of allGyms) { %>
  <div class="col mb-3">
    <div class="card" style="width: 18rem">
      <img src="<%= gym.image %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title"><a href="/gyms/<%= gym._id %>" class="text-decoration-none"><%= gym.name %></a></h5>
        <p class="card-text">
          <small class="text-secondary"> <%= gym.street %>, <%= gym.postcode %> </small>
        </p>
        <p class="card-text"><%= gym.description %></p>
      </div>
    </div>
  </div>
  <% } %>
</div>
