<%- layout('layouts/boilerplate.ejs') %>

    <div class="card">
        <img src="<%=gym.image %>" style="max-width: 100%; max-height: 400px;" class="card-img-top" alt="...">
        <div class="card-header pt-3 pb-0">
            <h1 class="card-title">
                <%= gym.name %>
            </h1>
            <h6 class="card-subtitle mb-3 text-body-secondary">
                <%= gym.location %>, <%= gym.postcode %>
            </h6>
        </div>
        <div class="card-body">

            <div>
                <p class="card-text mb-5">
                    <%= gym.description %>
                </p>
            </div>
            <div class="mb-5 ">
                <h2 class="card-text mb-3"> <b>Memberships Available</b> </h2>
                <% if(gym.memberships.length> 1) { %>
                    <% for(let membership of gym.memberships) { %>
                        <div class="row">
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= membership.memberships.memName %>
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">£<%=
                                                membership.memberships.memPrice %> per
                                                month</h6>
                                        <p class="card-text">
                                            <%= membership.memberships.memDescription %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= gym.memberships[0].memName %>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-body-secondary">£<%=
                                                        gym.memberships[0].memPrice %> per
                                                        month</h6>
                                                <p class="card-text">
                                                    <%= gym.memberships[0].memDescription %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>


        </div>
    </div>